<mat-horizontal-stepper>
    <mat-step label="label1">
        <ng-template matStepLabel #name>Sus productos</ng-template>
        <div *ngIf="(products$! | async | cart:'id') as products">
            <p *ngIf="products!.length === 0">No hay productos</p>
            <div class="row" *ngFor="let product of products">
                <div class="col-xs-12 col-sm-12 col-md-2">
                    <div class="box">
                        <img class="image" [src]="product.image" alt="">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="box">
                        {{ product.title }}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="box">
                        {{ product.price }}
                    </div>
                </div>
            </div>
        </div>
    </mat-step>
    <mat-step label="label2">
        <ng-template matStepLabel #name>Datos personales</ng-template>
        <h1>Contenido</h1>
    </mat-step>
    <mat-step label="label3">
        <ng-template matStepLabel #name>Pago</ng-template>
        <h1>Contenido</h1>
    </mat-step>
</mat-horizontal-stepper>