<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Id" formControlName="id" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Titulo" formControlName="title" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Descripcion" formControlName="description" matInput name=""></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Precio" formControlName="price" matInput type="number">
                    </mat-form-field>
                    <div *ngIf="priceField.errors && priceField.dirty ">
                        <mat-error *ngIf="priceField.hasError( 'price_invalid') ">
                            Este campo no es valido
                        </mat-error>
                        <mat-error *ngIf="priceField.hasError( 'required') ">
                            El campo es requerido
                        </mat-error>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid " mat-raised-button type="submit ">Guardar</button>
        </mat-card-actions>
    </mat-card>
</form>