<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
  <div class="crop-image">
    <img [src]="product.image"alt="">
  </div>
  <mat-card-content>
    <p>{{ product.description | slice:0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/products', product.id]">Ver detalle</a>
    <button (click)="addCart()" mat-raised-button color="primary">Add to cart</button>
  </mat-card-actions>
</mat-card>

<!-- <div class="individual-product">
  <h3 appHighlight>{{ product.title | uppercase }}</h3>
  <img [src]="product.image"alt="">
  <strong>{{ product.price | currency }}</strong>
  <p>{{ product.description | slice:0:10 }}</p>
  <p>{{ today | date:'medium' }}</p>
  <button (click)="addCart()" mat-raised-button color="primary">Add to cart</button>
  <a [routerLink]="['/products', product.id]">Ver detalle</a>
</div> -->