/* You can add global styles to this file, and also import other style files */
// body {
//   margin: 0px;
//   padding: 0px;
// }

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px 20px;
  // justify-items: center;
}

.container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-top: 0px;
}

// @media(min-width:0px){
//   .product-grid{
//       grid-template-columns: repeat(1, 1fr);
//   }
// }

@media(min-width:576px){
  .product-grid{
      grid-template-columns: repeat(2, 1fr);
  }
  .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16;
  }
}

// @media(min-width:768px){
//   .product-grid{
//       grid-template-columns: repeat(3, 1fr);
//   }
//   .container {
//     max-width: 1110px;
//     padding-right: 16px;
//     padding-left: 16;
//   }
// }

// @media(min-width:992px){
//   .product-grid{
//       grid-template-columns: repeat(4, 1fr);
//   }
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
